@import url(write.css);
@import url(infinity.css);
@import url(button.css);


.bio {
    height: 260vw;
}

img {
    width: 70vw;
    z-index: 2;
}

.img-wrap {
    height: 30vh;
}

#me {
    left: -100px;
    animation-name: appear;
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-direction: normal;
    position: absolute;
    opacity: 0;
    z-index: 1;
}

#me2 {
    left: 30px;
    animation-name: appear2;
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-direction: normal;
    position: absolute;
    opacity: 0;
    z-index: 2;

}

@keyframes appear {
    0% {
        opacity: 0;
    }

    70% {
        opacity: 1;
    }

    100% {
        transform: translate(100px);
        opacity: .5;
    }
}

@keyframes appear2 {
    0% {
        opacity: 0;
    }


    100% {
        transform: translate(100px);
        opacity: 1;
    }
}

/* MED SCREENS (IPAD, HORIZONTAL PHONE) */
@media (min-width: 432px) {

    .bio {
        height: 103vw;
    }

    img {
        width: 30%;
    }

    #me {
        left: 6%;
        animation-name: appear2;
    }

    #me2 {
        left: 40%;
    }

    .img-wrap {
        height: 20vh;
    }


}


/* LARGE SCREENS (DESKTOP) */

@media (min-width: 1080px) {

    .bio {
        height: 45vw;
    }

    img {
        width: 25vw;
    }

    #me {
        left: 3%;
        top: 10%;
    }

    #me2 {  left: 18%;
        top: 26%;
    }


}

@media (min-width: 1196px) {


    .bio {
        height: 70vh;
    }

    img {
        width: 20vw;
    }

    #me {
        left: 14%;
        top: 10%;
    }

    #me2 {  left: 24%;
        top: 26%;
    }

}