@import url(infinity.css);
@import url(button.css);

#logo {
    width: 80vw;
}


.celly {
    margin-top: 4rem !important;
}


@media (min-width: 768px){

.tablet {
    margin-top: 11rem !important;
}

    .button {
        margin: 20px;
      }

}

@media (min-width: 1196px){

    .puter {
        margin-top: 5rem !important;
    }

    #logo {
        width: 60vw;
    }
}
