@import url(navbtn.css);
@import url(bgsplash.css);

#logo {
    width: 80vw;
}

.cont {
width: 90%;
}

@media (min-width: 768px){

    .cont {
        width: 100%;
        }

}

@media (min-width: 1196px){

    #logo {
        width: 60vw;
    }
}
