/*-------BASIC-------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f2f2f2;
}

[data-title]:hover::after{
    opacity: 1;
    visibility:visible;
    transition: all 0.5s ease-in-out;
}
a, a:hover, a:active, th:hover [data-title]:hover{
	text-decoration: none;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

/*-------HEADER & TOP NAV-------*/

header {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 50px;
    overflow: hidden;
    background-color: white;
    border: 1px solid #e6e6e6;
    border-top: none;

}

header .box {
    float: left;
    margin: 10px 20px 10px;
    display: block;
    border-radius: 1px;
    width: 30px;
    height: 30px;
}

.green {
    background-color: #588c7e;
}

.yellow {
    background-color: #f2e393;
}

.orange {
    background-color: #f1ae72;
}

.grapefruit {
    background-color: #d96459;
}

header h1 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 30px;
    font-weight: 700;
    display: block;
    float: left;
    padding-left: 10px;
    line-height: 40px;
    text-transform: uppercase;
    margin: 5px 5px 0px;
    color: #b2b2b2;
}
header h1 a {
    color: #8d4647;
}
header h1 a:hover {
    color: #f1ae72;
}

/*-------NAV-------*/

nav {
    float: right;
    font-size: 30px;
    line-height:40px;
    margin: 5px 5px;
    letter-spacing: 20px;
}
nav a {
    color: #588c7e;
}
nav a:hover {
    color: #f2e393;
}

[data-title]:after {
    content: attr(data-title);
    position:absolute;
    top: -13px;
    left: -10px;
    width: auto;
    height:50px;
    padding: 10px;
    background: #d96459;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 400;
    visibility: hidden;
    z-index: 99999;
    opacity: 0;
    white-space: nowrap;
    letter-spacing: 0px;
}

[data-title] {
    position: relative;
}

/*-------MAIN-------*/

main {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 50px;
}

main .container {
    margin: 25px;
}


/*-------FOOTER-------*/

footer {
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: auto;
    height: 30px;
    overflow: hidden;
    background-color: white;
    border: 1px solid #e6e6e6;
    border-bottom: none;
    text-align: center;
    float: right;
}

footer div {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 300;
    display: block;
    float: right;
    padding-left: 10px;
    line-height: 20px;
    text-transform: lowercase;
    margin: 5px 5px 5px;
    color: #b2b2b2;
}

footer a {
    color: #588c7e;
}

footer a:hover {
    color: #f2e393;
}