@import url(nav.css);
@import url(button2.css);

* {
    font-family: 'Lato', sans-serif;
}

h3 {

    font-family: corn-dog, sans-serif;
    font-weight: 400;
    font-style: normal;
    -webkit-text-stroke: 2px black;
    -webkit-text-fill-color: white;
    
}

.card {
    border-radius: 15px !important;
    border-color: #59A96A !important;
    margin-bottom: 2rem;
}

.ill {
    border-radius: 0px !important;
    border-width: 0px !important;
}

.card img {
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.ill img {
    border-radius: 0px !important;
}

  .card-title {
      font-family: 'Koulen', cursive;
      font-size: 2rem;
      text-transform: capitalize;
  }

  .modalimg{
      width:100%;
  }

  .tansoda{
      height: 600px;
  }

  .btn-secondary {
      border-width: 0px !important;
      border-radius: 50% !important;
      background-color: #E861A4 !important;
  }

  
  .btn-secondary:hover {
    border-radius: 50% !important;
    background-color: #bb4c83 !important;
}