.heading {
    font-size: 1.7rem;
    font-family: corn-dog, sans-serif !important;
    font-weight: 400;
    font-style: normal;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    display: flex;
    flex-direction: column;
}

.heading>div {
    overflow: hidden;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    white-space: nowrap;
    margin: 0;
    line-height: 117%;
}

.green {
    color: #E861A4;
    font-size: 2.2rem;
}

div.heading>div {
    -webkit-animation-delay: 0;
    animation-delay: 0;
}

div.heading>div:nth-child(2)>p {
    -webkit-animation-delay: 0.05s;
    animation-delay: 0.05s;
}

div.heading>div {
    -webkit-animation-delay: 0;
    animation-delay: 0;
}

div.heading>div:nth-child(3)>p {
    -webkit-animation-delay: 0.075s;
    animation-delay: 0.075s;
}

.slide-up {
    -webkit-animation: slide-up 0.9s cubic-bezier(0.65, 0, 0.35, 1) both;
    animation: slide-up 0.9s cubic-bezier(0.65, 0, 0.35, 1) both;
}

@-webkit-keyframes slide-up {
    0% {
        transform: translateY(100px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes slide-up {
    0% {
        transform: translateY(100px);
    }

    100% {
        transform: translateY(0);
    }
}

@media (min-width: 768px) {

    .heading {
        font-size: 2.7rem;
    }

    .green {
        color: #E861A4;
        font-size: 4.2rem;
    }

}

@media (min-width: 1080px) {

    .heading {
        font-size: 2.7rem;
    }

    .green {
        color: #E861A4;
        font-size: 4.2rem;
    }
}